<mp:title>操作简介（已过时，近期将更新）</mp:title>
<link href="<%=THIS_SITE%>/stylesheets/help.css" media="screen" rel="stylesheet" type="text/css" />

<div>
<h3>1、创建导图</h3>
<div class="contentDiv">
<p>=> 注册登录后进入“新建思维导图”后您可以选择新建导图，填入拟建导图的相关属性，上传自定义图标，点击“确定并创建”。</p>

<p>=> 点击“导入思维导图”链接后，填入拟建导图的标题、Tag、图标等，并选择MindManager或FreeMind文件，点击“导入”来创建导图。</p>

<p>=> 创建或导入导图时，可选择导图属性为“私有”，一般用于您的导图未完善或者内容保密。</p>
<img src="/images/create_mindmap.gif" alt="创建/导入拼图" />
</div>
<h3>2、编辑导图</h3>
<div class="contentDiv">
<p>=> 在我的导图列表中点击“编辑”的链接，可以进行图形化编辑(编辑过程中MindPin将随时保存您的操作)。</p>
<img src="/images/pfunnav.gif" alt="导图功能菜单" />
<p>=> 通过鼠标，可以方便地编辑导图，双击编辑、拖拽、右键菜单等操作一用便知。</p>

<p>=> 如果您习惯于键盘操作，可以通过键盘快捷键来进行编辑，简单按键列表如下：</p>

<p>
  <span class="hilight">Insert</span>：为当前节点新增子节点　　<span class="hilight">Enter(回车)</span>：在当前节点同级插入新节点　　<span class="hilight">Space(空格)</span>：编辑焦点所在的节点
</p>
<p>
  <span class="hilight">↑→↓←(方向键)</span>：转移当前焦点　　<span class="hilight">Delete(删除键)</span>：删除当前节点
</p>
<p>	   
  编辑节点标题时<span class="hilight">Shift+Enter(回车)</span>：节点标题换行
</p>
</div>

<h3>3、删除导图</h3>
<div class="contentDiv">
<p>无论什么原因，如果您需要删除导图，您可以点击“删除”来整体删除导图，同时和它有关的内容、评论等都将一并被消失(请三思而行^_^)。</p>
</div>

<h3>4、发表个人看法</h3>
<div class="contentDiv">
<p>在浏览他人导图的时候，您可以发表自己的看法，和作者交流，促进共同进步。或者简单地点击五星评分的图标进行评分。</p>
</div>

<div class="hide">
<h3>5、站内消息联系</h3>
<div class="contentDiv">
<p>如果对某人的兴趣点有共鸣，可在“消息”里，填入对方的用户名，发起消息直接对话，当然您也可以同时发给多人啦(用;分隔)。</p>
<img src="/images/msgbox.gif" alt="站内消息" />
<img src="/images/sendmsg.gif" alt="发送消息" />
</div>
</div>
</div>