%mp:title 简介：MindPin导图编辑器

.text-indent
  %p 思维导图编辑器是MindPin目前的主要工具。
  %p 由于我们仍然在对这个工具进行不断改进，距离达到我们认为较完备的状态，还有不少的工作。因此，在此之前，我们的介绍说明和帮助会经常变化。
  %p 我们尝试以flash视频的形式直观地告诉用户这个工具应该如何使用，您可以直接在这里观看我们录制的视频。

#flashmedia
  %object{:id=>"video",:classid=>"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000",:width=>"640",:height=>"498",:codebase=>"http://active.macromedia.com/flash7/cabs/ swflash.cab#version=9,0,28,0"}
    %param{:name=>"src",:value=>"/help/MindPinFlashDemo.swf"}
    %param{:name=>"bgcolor",:value=>"#1a1a1a"}
    %param{:name=>"quality",:value=>"best"}
    %param{:name=>"allowScriptAccess",:value=>"always"}
    %param{:name=>"allowFullScreen",:value=>"true"}
    %param{:name=>"scale",:value=>"showall"}
    %param{:name=>"flashVars",:value=>"autostart=false"}
    %embed{:name=>"csSWF",:src=>"/help/MindPinFlashDemo.swf",:width=>"640",:height=>"498",:bgcolor=>"#1a1a1a",:quality=>"best",:allowScriptAccess=>"always",:allowFullScreen=>"true",:scale=>"showall",:flashVars=>"autostart=false",:pluginspage=>"http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"}