%mp:title 简介：思维导图

.text-indent
  %p
    如果您对思维导图已经非常了解，或者完全不感兴趣，以下的简介完全可以略过 :)
    %br
%h3 什么是思维导图？
.text-indent
  %p 关于思维导图的定义，可以参考以下链接：
  %p
    维基百科的“思维导图”词条：
    %br
    %a{:href=>"http://zh.wikipedia.org/w/index.php?title=%E6%80%9D%E7%BB%B4%E5%AF%BC%E5%9B%BE&amp;variant=zh-cn",:target=>"_blank",:mce_href=>"http://zh.wikipedia.org/w/index.php?title=%E6%80%9D%E7%BB%B4%E5%AF%BC%E5%9B%BE&amp;variant=zh-cn"} http://zh.wikipedia.org/w/index.php?title=%E6%80%9D%E7%BB%B4%E5%AF%BC%E5%9B%BE&amp;variant=zh-cn
  %p 思维导图是一种用于记录思维过程的辅助工具，它可以直观地理解为：
  %p
    * 一种记录读书笔记或学习心得的形式；
  %p
    * 把每天可能的奇思妙想保留下来的方法；
  %p
    * 撰写各种提纲的一种方式；
  %p
    * 集体讨论问题，制订计划时的一种参考手段;
  %p
    等等。
.text-indent
  %p 脑力工作者（学生、律师、顾问、工程师等等）使用思维导图帮助知识整理与总结、解决问题、撰写方案、写论文、做演讲、考试、思考等。
  %p 职场人士使用思维导图可帮助做职业规划、生成独特简历、项目管理、沟通，组织、分析和解决问题、工作总结。
%h3 更详细的介绍
.text-indent
  %p
    思维导图(Mindmap)由英国学者
    %a{:href=>"http://zh.wikipedia.org/w/index.php?title=%E6%89%98%E5%B0%BC%C2%B7%E5%B8%83%E8%A9%B9&variant=zh-cn",:target=>"_blank"} 托尼·博赞
    (Tony Buzan)在1970年代初期所创。
    %br
    托尼是一位记忆和学习理论研究专家，针对信息采集、整理及记忆的困难等问题，他提出了放射性思考 (Radiant Thinking)和思维导图的概念。
    %br
    %br
    思维导图是一种将放射性思考具体化的方法。放射性思考是人类大脑的自然思考方式，任何进入大脑的资料，不论是形象事物或是抽象概念，通过任何感觉，都可以成为一个思考中心，并由此中心向外发散出大量的联想，每一个联想代表与中心主题的一个连结，这些发散过程可以不断重复，持续积累。
    %br
    %br
    人类从出生开始累积庞大复杂的数据库，大脑惊人的储存能力使我们累积了大量的资料。利用思维导图，可将本能的放射性思考具体化，除了可加速资料的累积外，还能将数据依据彼此间的关联性分层分类管理，使资料的储存、管理及应用过程，更加具体化与系统化，从而可大幅增加大脑运作的效率。
    %br
    %br
    同时，思维导图善用左右脑的功能，藉由颜色、图像、符号的使用，不但可以协助我们记忆、增进我们的创造力，也让思维导图更轻松有趣，且具有个人特色及多面性。
    %br
    %br
    简单的说，由于思维导图利用了人们天生的放射性思考能力和多感官学习特性，使得思维导图与传统笔记法和学习法有很大的差异。它不仅可以作为一个快速的学习方法与工具，而且可运用在创意的发想与收敛、项目企划、问题解决与分析、企业管理等方面。
  %p 它帮助使用者提升思考技巧，增进记忆、组织与创造力，进一步，缩短了思考的时间，对于绩效的提升，也许可产生强大的功效。
  %p 目前，思维导图在哈佛大学、剑桥大学等知名学府，已被广泛运用于教学与学生学习、总结等诸多环节。某些大学甚至开设了“思维导图”必修课，以进一步运用和推广思维导图。