%mp:title 简介：从其他文件格式导入

.text-indent
  %p 用户会使用其他常用思维导图工具创建思维导图，为了更方便地把已有的导图放入MindPin，我们提供了其他文件格式的导入功能。

%h3 Freemind导入支持
.text-indent
  %p Freemind是使用十分广泛的开源思维导图工具，也得到众多开发者的支持。
  %p 用户可以导入由Freemind生成的后缀名为.mm的文件至MindPin。
  %p 目前，所有的节点和节点关联都会在导入时被保留，但是图标，节点修饰，字体格式以及节点备注将会丢失。
  %p 关于这一点我们将继续改进。

%h3 MindManager导入支持
.text-indent
  %p MindManager是流行的专业级商用思维导图工具，提供了强大的功能和与其他软件的接口集成。
  %p 用户可以导入由MindManager生成的后缀名为.mmap的文件至MindPin。
  %p 目前，所有的节点和节点关联都会在导入时被保留，但是图标，节点修饰，字体格式以及节点备注将会丢失。
  %p 关于这一点我们将继续改进。