- form_for(mindmap,:html => {:id=>"new_import_mindmap", :multipart => true,:class=>"common_form"}) do |f|
  %p
    =f.label :title,"为导图命名"
    =f.text_field :title,:size=>32,:class=>"text"

  #import-div.margint5.marginb5
  %div
    %label 文件选择
    =file_field_tag "mindmap[import_file]",:size=>25

    %h4 支持以下导图软件格式：
    .marginl10
      %div MindManager (.MMAP)
      %div FreeMind (.MM)
      %div XMind (.XMIND)
      %div Buzan's iMindMap (.IMM)