.pie-resizable{}

.pie-resizable .s-handle{height:6px;position:absolute;left:0;bottom:0;width:100%;cursor:s-resize;overflow:hidden;background:url(url(../resizable/s.gif);zoom:1;}
.pie-resizable .s-handle-hover{background:url(../resizable/s-handle.gif) no-repeat scroll center top;}

.pie-resizable .e-handle{width:6px;position:absolute;right:0;top:0;height:100%;cursor:e-resize;overflow:hidden;background:url(url(../resizable/s.gif);zoom:1;}
.pie-resizable .e-handle-hover{background:url(../resizable/e-handle.gif) no-repeat scroll center left;}

.pie-resizable .se-handle{width:6px;height:6px;position:absolute;right:0;bottom:0;cursor:se-resize;overflow:hidden;}
.pie-resizable .se-handle-hover{background:url(../resizable/se-handle.gif) no-repeat scroll top left;}
